In [1]:
# -*- coding: utf-8 -*-
"""Project DE .ipynb

Automatically generated by Colab.

Original file is located at
    https://colab.research.google.com/drive/1pBfh5A4PvMV-lDkhqPVc-SXlDJdgy6eJ
"""

# -*- coding: utf-8 -*-
"""DE_GIU.ipynb

Automatically generated by Colab.

Original file is located at
    https://colab.research.google.com/drive/1RYAihLnV2Y-T-s2xO6sWwAGxapZXFO2v
"""
# ---------------------------------------
### 1. Imports
# ---------------------------------------

import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
import os


# The following notebook-style pip install command is invalid in a plain .py file.
# If you need to install dependencies, run the pip command in your shell or uncomment
# the programmatic installer below.
#
# Example shell command (run in terminal, not in this .py file):
!pip install -q dash dash-bootstrap-components dash-bootstrap-templates
#
# Optional programmatic installer (uncomment to enable):
# import sys, subprocess
# subprocess.check_call([sys.executable, "-m", "pip", "install", "--quiet",
#                        "dash", "dash-bootstrap-components", "dash-bootstrap-templates"])
#
from dash import Dash, html, dcc, Input, Output, clientside_callback, callback
import plotly.express as px
import dash_bootstrap_components as dbc
from dash_bootstrap_templates import load_figure_template


from google.colab import files


print("=> Done installing dash requirements.")

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 53.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 204.0/204.0 kB 15.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.3/100.3 kB 9.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 108.2 MB/s eta 0:00:00
=> Done installing dash requirements.

In [2]:

# ---------------------------------------
### 2. Load/Prepare Data
# ---------------------------------------

pd.set_option('display.max_columns', None)
# plt.style.use('seaborn-v0_8')

print("Libraries loaded successfully.")

"""### Load the Crashes"""

crashes_url = "https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD"

print("Loading crashes dataset")

df_crashes = pd.read_csv(crashes_url, low_memory=False)

print("Crashes dataset shape:", df_crashes.shape)
df_crashes.head()

Libraries loaded successfully.
Loading crashes dataset
Crashes dataset shape: (988076, 29)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,0.0,0.0,0.0,0,0.0,2.0,0.0,Aggressive Driving/Road Rage,Unspecified,NaN,NaN,NaN,4455765.0,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,0.0,0.0,0.0,0,0.0,1.0,0.0,Pavement Slippery,NaN,NaN,NaN,NaN,4513547.0,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,1.0,0.0,0.0,0.0,0,0.0,1.0,0.0,Unspecified,Unspecified,Unspecified,NaN,NaN,4675373.0,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,Following Too Closely,Unspecified,NaN,NaN,NaN,4541903.0,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4566131.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [3]:

"""### Load Persons (CHUNKED)"""

persons_url = "https://data.cityofnewyork.us/api/views/f55k-p6yu/rows.csv?accessType=DOWNLOAD"

# Only columns needed for integration
useful_cols = [
    "COLLISION_ID",
    "PERSON_TYPE",
    "PERSON_INJURY",
    "PERSON_AGE",
    "PERSON_SEX"
]

chunk_size = 200_000  # safe for free Colab
persons_chunks = []

print("Loading PERSONS dataset in chunks...")

for chunk in pd.read_csv(persons_url, usecols=useful_cols, chunksize=chunk_size, low_memory=False):
    persons_chunks.append(chunk)

# Concatenate all chunks into one DataFrame
df_persons = pd.concat(persons_chunks, ignore_index=True)

print("Persons dataset loaded successfully.")
print("Persons dataset shape:", df_persons.shape)
df_persons.head()

Loading PERSONS dataset in chunks...
Persons dataset loaded successfully.
Persons dataset shape: (5824319, 5)

   COLLISION_ID PERSON_TYPE PERSON_INJURY  PERSON_AGE PERSON_SEX
0       4229554    Occupant   Unspecified         NaN          U
1       4230587    Occupant   Unspecified        33.0          F
2       4230550    Occupant   Unspecified        55.0          M
3       3565527    Occupant   Unspecified         NaN        NaN
4       4231168    Occupant   Unspecified         7.0          F

In [4]:

"""### Clean Column Names"""

df_crashes.columns = df_crashes.columns.str.upper().str.replace(" ", "_")
df_persons.columns = df_persons.columns.str.upper().str.replace(" ", "_")

df_crashes.head()

"""### Convert Date & Time Columns"""

df_crashes["CRASH_DATE"] = pd.to_datetime(df_crashes["CRASH_DATE"], errors="coerce")
df_crashes["CRASH_TIME"] = pd.to_datetime(df_crashes["CRASH_TIME"], format="%H:%M", errors="coerce").dt.time

df_crashes["YEAR"] = df_crashes["CRASH_DATE"].dt.year
df_crashes["MONTH"] = df_crashes["CRASH_DATE"].dt.month

df_crashes.head()

"""### **EDA**"""

# plt.figure(figsize=(10,5))
# df_crashes['YEAR'].value_counts().sort_index().plot(kind='bar')
# plt.title("Crashes Per Year")
# plt.xlabel("Year")
# plt.ylabel("Count")
# plt.show()

# plt.figure(figsize=(8,5))
# df_crashes['BOROUGH'].fillna('Unknown').value_counts().plot(kind='bar')
# plt.title("Crashes by Borough")
# plt.xlabel("Borough")
# plt.ylabel("Count")
# plt.show()

'### **EDA**'

In [5]:

"""### Pre-Integration Cleaning
***Handle Missing Values***
"""

# Drop crashes with no location at all
df_crashes = df_crashes[
    ~(df_crashes["LATITUDE"].isna() & df_crashes["LONGITUDE"].isna())
].copy()

# Borough
df_crashes["BOROUGH"] = df_crashes["BOROUGH"].fillna("Unknown")

# Injury columns
injury_cols = [c for c in df_crashes.columns if "INJURED" in c or "KILLED" in c]

for col in injury_cols:
    df_crashes[col] = pd.to_numeric(df_crashes[col], errors="coerce").fillna(0).astype("int16")

"""***Remove Duplicates***"""

before = df_crashes.shape[0]
df_crashes = df_crashes.drop_duplicates(subset=["COLLISION_ID"])
after = df_crashes.shape[0]

print(f"Removed {before - after} duplicate rows.")

"""### Integration

*join crashes with persons using COLLISION_ID*
"""

# We use LEFT JOIN to Keep all crashes


df_merged = df_crashes.merge(
    df_persons,
    on="COLLISION_ID",
    how="left"
)

print("Merged dataset shape:", df_merged.shape)
df_merged.head()

"""### **Post-Integration Cleaning**"""

df_merged["PERSON_TYPE"] = df_merged["PERSON_TYPE"].fillna("Unknown").str.title()
df_merged["PERSON_INJURY"] = df_merged["PERSON_INJURY"].fillna("Unknown")
df_merged["PERSON_SEX"] = df_merged["PERSON_SEX"].fillna("Unknown")
df_merged["PERSON_AGE"] = df_merged["PERSON_AGE"].fillna(-1).astype("int16")  # -1 = missing age

Removed 0 duplicate rows.
Merged dataset shape: (3457392, 35)

In [6]:

"""### Memory Optimization (Downcasting)"""

# Downcasting numeric columns to reduce RAM usage
# ---------------------------------------
### 3. functions used by the app
# ---------------------------------------

def downcast_int(df):
    for col in df.select_dtypes(include=["int", "int64"]).columns:
        df[col] = pd.to_numeric(df[col], downcast="integer")
    return df

def downcast_float(df):
    for col in df.select_dtypes(include=["float"]).columns:
        df[col] = pd.to_numeric(df[col], downcast="float")
    return df

df_merged = downcast_int(df_merged)
df_merged = downcast_float(df_merged)

print("Memory optimization complete.")

Memory optimization complete.

In [7]:

"""### Save Final Cleaned Dataset"""

df_merged.to_csv("cleaned_nyc_crashes.csv", index=False)
print("Final cleaned dataset saved as cleaned_nyc_crashes.csv")
df_merged.head()

Final cleaned dataset saved as cleaned_nyc_crashes.csv

,CRASH_DATE,CRASH_TIME,BOROUGH,ZIP_CODE,LATITUDE,LONGITUDE,LOCATION,ON_STREET_NAME,CROSS_STREET_NAME,OFF_STREET_NAME,NUMBER_OF_PERSONS_INJURED,NUMBER_OF_PERSONS_KILLED,NUMBER_OF_PEDESTRIANS_INJURED,NUMBER_OF_PEDESTRIANS_KILLED,NUMBER_OF_CYCLIST_INJURED,NUMBER_OF_CYCLIST_KILLED,NUMBER_OF_MOTORIST_INJURED,NUMBER_OF_MOTORIST_KILLED,CONTRIBUTING_FACTOR_VEHICLE_1,CONTRIBUTING_FACTOR_VEHICLE_2,CONTRIBUTING_FACTOR_VEHICLE_3,CONTRIBUTING_FACTOR_VEHICLE_4,CONTRIBUTING_FACTOR_VEHICLE_5,COLLISION_ID,VEHICLE_TYPE_CODE_1,VEHICLE_TYPE_CODE_2,VEHICLE_TYPE_CODE_3,VEHICLE_TYPE_CODE_4,VEHICLE_TYPE_CODE_5,YEAR,MONTH,PERSON_TYPE,PERSON_INJURY,PERSON_AGE,PERSON_SEX
0,2023-11-01,01:29:00,BROOKLYN,11230.0,40.621792,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,Unspecified,NaN,NaN,4675373.0,Moped,Sedan,Sedan,NaN,NaN,2023.0,11.0,Occupant,Unspecified,63,F
1,2023-11-01,01:29:00,BROOKLYN,11230.0,40.621792,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,Unspecified,NaN,NaN,4675373.0,Moped,Sedan,Sedan,NaN,NaN,2023.0,11.0,Occupant,Injured,26,M
2,2021-09-11,09:35:00,BROOKLYN,11208.0,40.667202,-73.866501,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4456314.0,Sedan,NaN,NaN,NaN,NaN,2021.0,9.0,Occupant,Unspecified,28,F
3,2021-09-11,09:35:00,BROOKLYN,11208.0,40.667202,-73.866501,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4456314.0,Sedan,NaN,NaN,NaN,NaN,2021.0,9.0,Occupant,Unspecified,28,F
4,2021-12-14,08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4486609.0,NaN,NaN,NaN,NaN,NaN,2021.0,12.0,Pedestrian,Unspecified,46,M

In [ ]:
#The following cells should only be run once each. and only at the begining of the project

# the following cells will upload the dataset on github

In [8]:

!git clone https://github.com/Khaled100233/NYC-Collision-Insights.git

!mv cleaned_nyc_crashes.csv NYC-Collision-Insights/
%cd NYC-Collision-Insights

Cloning into 'NYC-Collision-Insights'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 14 (delta 4), reused 14 (delta 4), pack-reused 0 (from 0)
Receiving objects: 100% (14/14), 4.48 KiB | 4.48 MiB/s, done.
Resolving deltas: 100% (4/4), done.
/content/NYC-Collision-Insights

In [9]:
# Initialize Git LFS
!git lfs install

Updated git hooks.
Git LFS initialized.

In [10]:
!git config --global user.email kha.2002.ke@gmail.com
!git config --global user.name Khaled100233

In [ ]:
!git remote set-url origin https://Khaled100233:TOKEN@github.com/Khaled100233/NYC-Collision-Insights.git

In [12]:
!git lfs track "cleaned_nyc_crashes.csv"
!git add .gitattributes

Tracking "cleaned_nyc_crashes.csv"

In [13]:

!git add cleaned_nyc_crashes.csv
!git commit -m "Add cleaned_nyc_crashes.csv"
!git push origin main

[main fdeeb57] Add cleaned_nyc_crashes.csv
 2 files changed, 4 insertions(+)
 create mode 100644 .gitattributes
 create mode 100644 cleaned_nyc_crashes.csv
Uploading LFS objects: 100% (1/1), 893 MB | 87 MB/s, done.
Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 2 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 562 bytes | 562.00 KiB/s, done.
Total 4 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/Khaled100233/NYC-Collision-Insights.git
   ed6b1cd..fdeeb57  main -> main